<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTMusicAPI Playlist Search</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/playlist-search.css')}}">
</head>
<body>
    <div class="mode-toggle">
        <label class="switch">
            <input type="checkbox" id="mode" onclick="toggleMode()">
            <span class="slider round"></span>
        </label>
        <label for="mode">Dark Mode</label>
    </div>
    <div class="container">
        <header>
            <h1>YTMusicAPI Playlist Search</h1>
            <div class="search-container">
                <input type="text" id="playlist-link" placeholder="Enter YouTube Music Playlist Link">
                <button id="search-button" onclick="searchPlaylist()">Search</button>
            </div>
            <div class="header-buttons">
                <button onclick="clearResults()">Clear Results</button>
                <div class="filter-container">
                    <button onclick="toggleDropdown()">Filter ⫧</button>
                    <div id="filter-dropdown" class="dropdown-content">
                        <div class="checkbox-container">
                            <input type="checkbox" name="filter" id="filter-song" value="songs" checked>
                            <label for="filter-song">Songs</label>
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" name="filter" id="filter-video" value="videos" checked>
                            <label for="filter-video">Videos</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="error-message" class="error-message"></div>
        </header>
        <div id="tracks-container">
            <!-- Tracks will be displayed here -->
        </div>
    </div>

    <script src="{{url_for('static', filename='scripts/playlist-search.js')}}"></script>
</body>
</html>