body {
    transition: background-color 0.3s, color 0.3s;
}

.container {
    transition: background-color 0.3s, color 0.3s;
}

.slider {
    transition: .4s;
}

.slider:before {
    transition: .4s;
}
